.nav-wrapper{
    margin: 0 2rem
}

.price{
    font-size: 2rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    min-width: 300px;
    max-width: 400px;
}

.card-content{
    margin-bottom: auto;
}

.card-action.actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-image{
    max-width: fit-content;
    margin-bottom: 1rem;
}

.edit-form{
    margin-bottom: 2rem;
}